* {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

body {

    background-color: #000000;
    margin-top: 100px;
    text-align: center;

}

#bonus {
    font-size: 2rem;
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
   
}

#bonus1 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
  


   
}






#cal {
    color: #ffffff;

}

input {
    display: flex-box;
    margin: 30px;
    padding: 7px;
}

#calculando {
    margin: auto;
    margin-top: 150px;
    padding-left: 100px;
    padding-right: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    background-color: #ffffff;
    font-size: 1.3rem;
    border: 4px solid;
    border-image:
        linear-gradient(#ff512f, #dd2476, #1c64ff)1;
    animation: rotate 2.5s ease-in infinite;
}

@keyframes rotate {
    50% {
        border-image: linear-gradient(360deg, #ff512f, #dd2476, #1c64ff)1;
    }

}


#fundo {
    position: static;
    display: inline-block;
    text-align: center;
    background-color: #000000;
    margin: auto;
    width: 300px;
    height: 400px;
    border: 7px solid;
    border-image:
        linear-gradient(#ff512f, #dd2476, #1c64ff)1;
    animation: rotate 2.5s ease-in infinite;
}

@keyframes rotate {
    50% {
        border-image: linear-gradient(360deg, #ff512f, #dd2476, #1c64ff)1;
    }

}

#trocar,
#explicacao {
position: fixed;
    display: inline-block;
    background-color: #ffffff;
    margin: auto;
    width: 300px;
    height: 400px;
    overflow: auto;
    float: right;
    right: 100px;
    bottom: 210px;
    border: 8px solid;
    border-image:
        linear-gradient(#ff512f, #dd2476, #1c64ff)1;
    animation: rotate 2.5s ease-in infinite;
}

@keyframes rotate {
    50% {
        border-image: linear-gradient(360deg, #ff512f, #dd2476, #1c64ff)1;
    }









}

#explicacao {
    right: 1100px;


}

@media screen and (max-width: 1000px) {
body{

 
}


    #trocar {
        position: relative;
       right:13.5%;
margin-top: 300px;

    }

    #explicacao {
        position: relative;
       right: 13%;
      margin-top: 10px;



    }




}